* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 90%;
}

.profile-pic-container {
    text-align: left;
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.content {
    text-align: left;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 25px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
}

.links a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #1e90ff;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.links a:hover {
    color: #00bfff;
}

.links i {
    margin-right: 10px;
}
